@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Poppins:wght@300;400;500;700;800;900&display=swap');

// Blue : #33364d
// Green : #109e92

body{
    margin: 0%;
    padding: 0%;
    font-family: "Poppins";
}

ul{
    list-style-type: none;
    margin: 0%;
    padding: 0%;
}

a{
    text-decoration: none;
}

img{
    width: auto;
}

header{
    background: #f7f7f7;
    display: grid;
    grid-template-columns: auto 50% auto;
    justify-content: space-around;
    font-size: 1.3em;
    font-weight: 700;
    padding: 10px;

    .logo{
        img{
            width: 70%;
        }
    }

    ul{
        display: flex;
        margin-right: 0em;
        text-align: right;
        a{
            display: flex;
            padding: 3vh 2vh;
            color: #109e92;

        }
    }

    button{
            border-radius: 30px;
            background: white;
            color: #33364d;
            padding: .5em 1em ;
            margin: 1vh 1em;
            font-size: 1.2em;
            font-weight: 700;
        }
        .login{
            border: .2em solid #33364d;
        }
        .signup{
            border: .2em solid #109e92;
            color: #109e92;
        }
    
}
